<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Breast-cancer Detector</title>
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
   {% with messages = get_flashed_messages() %}
   {% if messages %}
   <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
   </ul>
   {% endif %}
   {% endwith %}

   <div class="header">
      <h1>Breast-cancer Detector</h1>
   </div>

   <div class="container">
      <form id="form" action="/" method="POST" enctype="multipart/form-data">
         <label for="image-input" class="custom-file-upload">
             <i class="fas fa-file-upload fa-2x"></i>
             <h3>Choose file for prediction</h3>
         </label>
         <input id="image-input" type=file onchange="showPreview(event)" name=file accept="image/jpg, image/png, image/jpeg"/>
         <img id="output" alt="" width="33%" height="33%" />
         <input type=submit value=Upload class="btn"/>
      </form>
   </div>

   {% if data %}
   <div id="container">
      <img src="{{data.uploaded_image}}" alt="" id="predicted_image" />
      {% if data["class"]=="Malignant" %}
         <h1 id="malignant">{{data["class"]}}</h1>
      {% else %}
         <h1 id="benign">{{data["class"]}}</h1>
      {% endif %}
   </div>
   {% endif %}


   <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>

</html>
